.chat-container {
  width: 800px;
  margin: 20px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: #ffe4e6;
}

h2 {
  background-color: #bd2eac;
  color: white;
  margin: 0;
  padding: 15px;
}

.messages {
  border: 1px solid #dcbcd8;
  height: 280px;
  overflow-y: auto;
  margin: 0;
  padding: 10px;
  background: #e9d4f0;
}

.message {
  margin: 5px auto;
  padding: 10px;
  background-color: #e996e2;
  border-radius: 8px;
  text-align: center;
  width: fit-content;
  max-width: 80%;
  color: #a536a5;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #ebd8f1;
  border-top: 1px solid #c084d4;
}

input {
  flex: 1;
  border: 1px solid #c084d4;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  margin-right: 10px;
  background-color: #f1e3f0;
  color: #993399;
}

input:focus {
  border-color: #993399;
  box-shadow: 0 0 5px #993399;
}

button {
  background-color: #993399;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff99e4;
}

button:active {
  background-color: #993399;
}

.file {
  margin: 10px auto;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}


.R{
  width: 100px;
  border-radius: 50px;
}

.audio-controls{
  background-color: #e9d4f0;
  padding-bottom: 10px;
}

